body {
    background-color: black;
    color: white;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

h1 {
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 70px;
}

h2 {
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 10px;
}

p {
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 4rem;
}

.circle-image-container {
    width: 200px; 
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.circle-image-container img {
    width: 100%;
    height: auto;
}